# Python Compiled Files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/
env/

# Jupyter Notebooks
.ipynb_checkpoints

# IDE / Editor Files
.vscode/
.idea/
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db

# Drive Downloads
drive-download-*

